name: Build
on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/**'
      - '_sources/**'
      - 'overlays/**'
      - 'pkgs/**'
      - 'flake.lock'
  workflow_run:
    workflows: [ "Update" ]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/runner-images/issues/2840
    - name: Delete unused files to free disk space
      run: |
        sudo rm -rf \
          /opt/hostedtoolcache \
          /opt/google/chrome \
          /opt/microsoft/msedge \
          /opt/microsoft/powershell \
          /opt/pipx \
          /usr/lib/mono \
          /usr/local/julia* \
          /usr/local/lib/android \
          /usr/local/lib/node_modules \
          /usr/local/share/chromium \
          /usr/local/share/powershell \
          /usr/share/dotnet \
          /usr/share/swift

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install packages
      run: |
        sudo apt-get install -y jq

    - name: Install nix
      uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixpkgs-unstable
        extra_nix_config: |
          experimental-features = nix-command flakes

      # https://www.reddit.com/r/NixOS/comments/vohopf/is_there_an_easy_way_to_build_all_the_packages_of/
      # Potential future solution: https://github.com/NixOS/nix/issues/7165
      # x86_64-linux is currently the only supported architecture
    - name: Build non-redistributable packages
      run: |
        nix eval .#nonRedistributablePackages --json | jq '."x86_64-linux"[]' | xargs -I {} nix build .#{} --keep-going

    - name: Set up Cachix
      uses: cachix/cachix-action@v15
      with:
        name: passivelemon
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

    - name: Build redistributable packages for Cachix
      run: |
        nix eval .#redistributablePackages --json | jq '."x86_64-linux"[]' | xargs -I {} nix build .#{} --keep-going

