name: Update
on:
  workflow_dispatch:
  schedule:
  - cron: '0 2 * * *'

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Install nix
      uses: cachix/install-nix-action@v27
      with:
        nix_path: nixpkgs=channel:nixpkgs-unstable
        extra_nix_config: |
          experimental-features = nix-command flakes

    - name: Update flake and sources
      run: | 
        nix flake update
        nix run github:berberman/nvfetcher

    - name: Commit
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "chore: update flake and sources"

